{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
    <link rel="stylesheet" href="{% static 'css/abc.css' %}">
</head>
<body>
    <div class='col-sm-8 col-sm-offset-2'>
        {% if empty %}
        <h1>{{ empty_message }}</h1>

        {% else %}
        
    <table class="table" cellpadding="20" cellspacing="30" style="top: 50%;">
      <thead>
        <tr style=" color: cyan; font-size: 22px; font-style: italic;">
            <th>    ITEM   </th>
            <th>   PRICE    </th>
            <th>   QTY   </th>
        </tr>
          
      </thead>
      <tfoot>
          <tr>
              <td>
              </td>
              <td></td>
              <td style="color: rgb(247, 30, 30); font-size: 30px; font-style: italic;"> Total: {{ order.total }}</td>
          </tr>
          <tr></tr>
          <tr></tr>
         <tr>

            <td>
                <form method="post" action="abc" >
                    {% csrf_token %}
                  <!--   <textarea rows ="4" cols="40" name="address">enter the adddress</textarea>-->
                  <input type="text" name="address" placeholder="enter address">
                     <input type="submit" value="Add">
                </form>
            </td>
         </tr>

<tr></tr>
          <tr>
              
           <td>  <a href ='{% url "checkout" %}' style="font-style: normal; font-size: 30px; color: gold;">PLACE ORDER</a></td>
          </tr>
      </tfoot>

        {% for item in order.itemorder_set.all %}
       
        <tr style="font-style: normal; font-size: 18px; color: lightgreen;">
            <td> {{ item.product.name}}</td>
            <td> {{ item.product.price }}</td>
           
        
            <td>{{ item.quantity }}</td>
            <td><a href='{% url "update_cart" item.product.slug  %}?qty=0' style="color: rgb(245, 233, 131);">Remove</a> </td>
        </tr>
   
        {% endfor %}


    </table>

    <br>
</div>

{% endif %}

</body>
</html>