{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/co.css' %}">
</head>
<body>
    
    <h2 style="font-size: 60px; text-align: center; font-style: italic; color: bisque;position: absolute;
    top:25%;
    left: 5%;">waiting for the restauraunt to confirm the order</h2>
    <h2 style="font-size: 65px; text-align: center; font-style: italic; color: cadetblue;position: absolute;
    top:45%;
    left: 10%;">You can check the status of your order</h2>


    
</body>
</html>