{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="def">
        <h1>
            Login
        </h1>
    </div>
    <form action ="login2" method="post">
   
  <div class="abc">
      {% csrf_token %}
      
    <input type="text" name="username" placeholder="username"><br><br>
    <input type="password" name="password" placeholder="password" ><br><br>
    
    <input type="submit" placeholder="SIGNUP" ><br>


</div>

    </form>
    <div class="msg">
        {% for message in messages %}
       <h3>  {{message}}   </h3> 
       {% endfor %}
    </div>
    
    
    <div class="ghi">
        <h1>
            One cannot think well, love well and sleep well if one has not dined well.  

        </h1>
    </div>
    
</body>
</html>