{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <div class="def">
        <h1>
            Sign Up
        </h1>
    </div>
    <form action ="signup" method="post">
   
  <div class="abc">
      {% csrf_token %}
      <input type="text" name="username" placeholder="username"><br><br>
    <input type="Phone"  name="phone" placeholder="enter phone number" minlength="10" maxlength="10"><br><br>
    <input type="password" name="password1" placeholder="password" ><br><br>
    <input type="password" name="password2" placeholder="Re enter password"><br><br>
    
    <input type="submit" placeholder="SIGNUP" ><br>


</div>


    </form>
    
    <div class="msg">
        {% for message in messages %}
       <h3>  {{message}}   </h3> 
       {% endfor %}
    </div>
    
    <div class="ghi">
        <h1>
            “Pull up a chair. Take a taste. Come join us. Life is so endlessly delicious.” 
        </h1>
    </div>
   

</body>
</html>